@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    background-color: white;
}

h1{
    text-align: center;
}

h1 > img{
    width: 110px;
    height: 30px;
}

div > img{
    display: block;
    margin: auto;
    margin-top: 70px;
}

div#base > img{
    width: 250px;
    height: 330px;
}

div#light > img{
    width: 250px;
    height: 330px;
}

div#light > img{
    margin-top: 30px;
}