@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */

 @media screen and (min-width: 481px) and (max-width: 768px) {
    video{
        width: 91%;
        height: 60%;
    }
 }

 @media screen and (min-width: 769px) and (max-width: 1024px) {

    header{
        height: 45px;
        padding-top: 5px;
    }

    h1 > img{
        width: 120px;
        height: 40px;
    }

    video{
        width: 91%;
        height: 60%;
    }

    p{
        font-size: 1.1em;
    }

    div > img{
        width: 100%;
    }

    .setas{
        margin-top: -190px;
    }

    #products{
        margin-top: 160px;
    }
 }

 @media screen and (min-width: 1025px) and (max-width: 1200px) {

    header{
        height: 45px;
        padding-top: 5px;
    }


    h1 > img{
        width: 120px;
        height: 40px;
    }

    video{
        width: 80%;
        height: 60%;
    }

    p{
        font-size: 1.1em;
    }

    div > img{
        width: 100%;
    }

    .setas{
        display: block;
        margin-top: -270px;
    }

    #products{
        margin-top: 250px;
    }
 }

 @media screen and (min-width: 1201px){

    header{
        height: 55px;
        padding-top: 5px;
    }

    h1 > img{
        width: 130px;
        height: 50px;
    }
    video{
        width: 80%;
        height: 60%;
    }

    p{
        font-size: 1.1em;
    }

    div > img{
        width: 100%;
    }
 }