@charset "UTF-8";

/* Typical decive Breakpoints
 telas pequenas: 200px-319px
 celular: 320px-480px
 tablets: 481px-768px
 leptos: 769px 1024px
 desltops: 1025px-1200
 telas extra grandes, tv: 1201px para mais */


 @media screen and (min-width: 481px) and (max-width: 768px) {
    video{
        width: 70%;
        height: 60%;
    }
 }

 @media screen and (min-width: 769px) and (max-width: 1024px) {

    header{
        height: 45px;
        padding-top: 5px;
    }

    h1 > img{
        width: 120px;
        height: 40px;
    }

    video{
        width: 91%;
        height: 60%;
    }

    p{
        font-size: 1.1em;
    }

    article{
        width: 91%;
        height: 45vh;
    }

    article > img{
        width: 100%;
        height: 100%;
    }

    .setas > span{
        margin-top: -140px;
    }

    #products{
        margin-top: 20px;
    }

    div.exs > img{
        width: 80%;
        height: 80%;
    }
 }

 @media screen and (min-width: 1025px) and (max-width: 1200px) {

    header{
        height: 45px;
        padding-top: 5px;
    }


    h1 > img{
        width: 120px;
        height: 40px;
    }

    video{
        width: 80%;
        height: 60%;
    }

    p{
        font-size: 1.1em;
    }

    article{
        width: 80%;
        height: 55vh;
    }

    article > img{
        width: 100%;
        height: 100%;
    }

    .setas > span{
        margin-top: -170px;
    }

    #products{
        margin-top: 20px;
        border-radius: 10px;
    }

    div.exs > img{
        width: 70%;
        height: 70%;

    }
 }

 @media screen and (min-width: 1201px){

    header{
        height: 55px;
        padding-top: 5px;
    }

    h1 > img{
        width: 130px;
        height: 50px;
    }
    video{
        width: 80%;
        height: 60%;
    }

    p{
        font-size: 1.1em;
    }

    article{
        width: 79%;
        height: 60vh;
    }

    article > img{
        width: 100%;
        height: 100%;
    }

    .setas > span{
        margin-top: -230px;
    }

    #seta{
        margin-right: 100px;
    }

    #back{
        margin-left: 100px;
    }

    #products{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    div.exs > img{
        width: 60%;
        height: 60%;
    }
 }